:root{
    --verde-botones: #157A8A;
    --negro: #333333;
}

label{
    color: var(--negro);
}

/* .container-form-habs{
    background-color: rebeccapurple;
} */

.estado-form-yes{
    background-color: green;
}

.container-form-habs form{
    /* background-color: red; */
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-form-habs h1{
    padding: 2rem 0;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    font-family: 'Akrobat';
}

.line1-habitacion, .line2-habitacion, .line3-habitacion, .line4-habitacion, .line5-habitacion{
    width: auto;
    display: flex;
    flex-direction: row;
}

.flex-form{
    padding: 1rem 3rem;
    width: 90vw;
    font-family: 'Biko';
    /* background-color: blue;     */
    display: flex;
    flex-direction: column;
}


.estado-form{
    margin-right: 1rem;
    font-style: normal;
    padding: 5px 15px;
    font-family: 'Biko';
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    height: 7vh;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
}

.select-estado-form{
    margin-top: -8px;
    padding-left: 50px;
    padding-right: 0;
}

.flex-form-line2{
    padding: 10px 1rem;
}

.flex-form-line2 .camas-input-form{
    width: 15vw;
}


.selectors-radio{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectors-radio label{
    margin-right: 15px;
}

.selectors-radio input{
    font-family: 'Biko';
    font-size: 20px;
    font-weight: 100;
    margin-right: 1rem;
}

.textarea{
    padding: 8px 10px;
    font-size: 15px;
    font-family: 'Biko';
    border-radius: 10px;
    border: 3px solid #D9D9D9;
}

.flex-form label{
    font-size: 20px;
    margin-bottom: 5px;
}

.flex-form input{
    font-style: italic;
    padding: 0 15px;
    font-family: 'Biko';
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    height: 6vh;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
}

.no-hab{
    width: 38vw;
}

.flex-form h3{
    font-size: 23px;
    text-align: center;
    color: var(--negro);
    font-weight: 100;
}

.nombre-hab{
    margin-left: -15rem;
}

.nombre-hab label{
    margin-left: -15rem;
}

.flex-si-no{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line1-selector, .line2-selector, .line3-selector{
    display: flex;
    justify-content: center;
}

.flex-form-selector{
    margin-bottom: 8px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-form-selector p{
    color: var(--negro);
    margin-right: 15px;
    font-size: 20px;
}

.flex-form-selector i{
    margin-right: 20px;
}

.nevera{
    width: 20%;
}

.btn-form-hab{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.btn-form-hab button{
    font-family: 'Akrobat';
}

.btn-form-hab .volver-form, .crear-form{
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    width: 88.5vw;
}


.crear-form{
    background-color: var(--negro);
    box-shadow: 3px 8px 10px rgba(190, 185, 185, 0.5);
    color: white;
}

.volver-form{
    background-color: #B7B7B7;
    box-shadow: 3px 8px 10px rgba(190, 185, 185, 0.5);
}

.flex-form-selector:nth-child(1){
    margin-right: 5rem;
}


.line3-selector .flex-form-selector:nth-child(1){
    margin-left: 7rem;
}

.flex-form .precio-form{
    font-style: italic;
    background-image: url(../img/iconos/price.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5% center;
    padding-left: 4rem;
}

/* :::::::::::::::::::::::::INPUT FILE:::::::::::::::::::: */
.flex-select-form{
    /* background-color: blue; */
    height: 5vh;
    width: 80vw;
    padding: 1rem 0;
    margin: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* z-index: 100; */
}

.file-select-form label{
    font-size: 25px;
}


.file-select-form {
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.file-select-form input {
    background-color: #7a7a7a;
    font-style: normal;
    border: none;
    color: white;
    padding: 5px 15px;
    padding-right: 5rem;
    margin: 0 4rem;
    cursor: pointer;
    opacity: 1;
    width: 40vw;
    height:5vh;
    display: inline-block;
}







