:root{
    --verde-botones: #157A8A;
    --negro: #333333;
}

.nav-bar-list{
    background-color: var(--negro);
    height: 10vh;
    color: white;
}



.habs-cards-list{
    object-fit: cover;
    object-position: left;
    border-radius: 3px;
    width: 25vw;
    height: 35vh;
}

.contenido-list .descrip{
    text-align: center;
    font-size: 25px;
    line-height:30px;
    height: 12vh;
}


.container-list-habs h1{
    text-align: center;
    color: var(--negro);
    padding-top: 2rem;
    font-weight: 200;
    font-family: 'Akrobat';
}

.cards-list-habs h1{
    height: 12vh;
    font-weight: bold;
    margin-bottom: 3rem;
    color: initial;
}

.list-h1{
    height: 6vh;
}

.contenido-list h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 5rem 2rem;
}

.cards-list-habs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 55vw 55vw auto;
    gap: 30px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        "container-list container-list container-list"
        "container-list container-list container-list";
}

/* -------CARDS------- */


.card__2-list{
    box-shadow: 3px 8px 10px #BEB9B9;
    height: 45vh;
    color: #4C4C4C;
    background-image: url('../img/Vector\ 9.png');
    background-position: right top;
    background-size: scale-down;
    background-repeat: no-repeat;
}

.line-1-list, .line-2-list, .line-3-list{
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.line-1-list p, .line-2-list p, .line-3-list p{
    font-size: 25px;
}

.line-1-list i, .line-2-list i, .line-3-list i{
    margin-right: 5px;
    margin-left: 10px;
}

.texto-icono-cardback-list{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Biko';
    margin: 20px 0;
}

.texto-icono-cardback-list p{
    margin: 0 8px;
    font-size: 20px;
}


.texto-icono-cardback-list img{
    width: 80%;
}

.precio-list{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Akrobat';
}

.precio-list p{
    padding: 0rem 0rem;
    font-size: 22px;
    font-weight: 500;
    height: 20vh;
}

.precio-list h1{
    font-size: 25px;
    margin-top: -2rem;
    margin-right: 50px;
}
/* Imagenes de las cards---------------*/
.cards-list{
    padding: 1rem 0;
}

.habs-cards{
    padding: 0 auto;
    width: 26vw;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.img-cards-slide{
    width: 26vw;
    border-radius: 20px; 
    position: relative;
    top: -30px;
}




/*-------------------------*/

.cards-list h1{
    padding: 0 2rem;
    font-family: 'Akrobat';
    text-align: left;
    padding-top: 1rem;
}



.cards-list p{
    padding: 0 2rem;
    font-family: 'Biko';
    margin-top: -2rem;
    line-height: 30px;
}

.cards-list h2{
    padding: 0 2rem;
    font-family: 'Biko';
    text-align: center;
    padding-top: 1rem;
}






/* ______________________________________________ ANIMACION ______________________________________________ */


.card-list{
    height: 70vh;
    width: 25vw;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s linear;
    cursor: pointer;
}

.card__1-list{
    box-shadow: 3px 8px 10px #BEB9B9;
    height: 0vh;
    width: 25vw;
    position: absolute;
    top: -70px;
    background-color: white;
    border-radius:10px ;
    z-index: 5;
    backface-visibility: hidden;
}

.card__2-list{
    width: 25vw;
    position: absolute;
    top: -55px;
    border-radius:10px;
    transform: rotateY(180deg);
}

.card-list:hover{
    transform: rotateY(180deg);
}


/* --------------------------------------------------FRONT--------------------------------------------------*/ 

.button-card-inicio-list{
    position: relative;
    top: 25vw;
    left: -0.5rem;
}

.disponible-cards-list{
    z-index: 100;
    width: 10vw;
    position:relative;
    top: -25px;
    left: 2rem;
    background-color: #BDBDBD;
    box-shadow: 3px 8px 10px #BEB9B9;
    font-family: 'Akrobat';
    color: var(--negro);
    border: none;
    font-size: 18px;
    padding: 0.7rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.disponible-cards-list i{
    text-shadow: 0px 4px 4px #00000040;
    color: #61FF00;
    margin-right: 5px;
}

.reservar-cards-list {
    z-index: 100;
    box-shadow: 3px 8px 10px #BEB9B9;
    width: 10vw;
    position:relative;
    top: -68px;
    margin-left: 13rem;
    background-color: var(--negro);
    font-family: 'Akrobat';
    color: white;
    border: none;
    font-size: 18px;
    padding: 0.7rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}



