:root{
    --verde-botones: #157A8A;
    --negro: #333333;
}

.nav-bar-list{
    background-color: var(--negro);
    height: 10vh;
    color: white;
}


.container-list-habs h1{
    text-align: center;
    color: var(--negro);
    padding-top: 2rem;
    font-weight: 200;
    font-family: 'Akrobat';
}

:root{
    --verde-botones: #157A8A;
    --negro: #333333;
}

.container-list-habs h1{
    text-align: center;
    color: var(--negro);
    padding-top: 2rem;
    font-weight: 200;
    font-family: 'Akrobat';
}

.list-cards-vertical{
    /* background-color: blue; */
    padding: 1rem 3rem;
}


.info-image-card{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}

.cards-horizontal{
    background-color: white;
    background-image: url('../img/Vector\ 9.png');
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 10px;

    width: 55vw;
    height: 45vh;
    box-shadow: 2px 2px 10px grey;
    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-room img{
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    box-shadow: 1px 1px 5px grey;
    width: 30vw;
    height: 50vh;
}

.info-list{
    /* background-color: red; */
    padding: 0 1.5rem;
    width: 30vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-list h1{
    padding: 0;
    font-weight: bold;
}

.info-list p{
    text-align: justify;
    font-family: 'Biko';
    color: var(--negro);
    line-height: 30px;
}

.info-list h2{
    text-align: right;
    font-family: 'Akrobat';
    font-size: 30px;
}

.price-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Akrobat';
}

.price-list h1{
    font-weight: bold;
    padding: 0;
}

.price-list p{
    font-family: 'Akrobat';
    font-size: 25px;
}

.details{
    /* background-color: #157A8A; */
    width: 22vw;
    height: 30vh;
    font-size: 22px;
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lines{
    display: flex;
    margin: 1rem 0;
    font-family: 'Biko';
}

.each-thing{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.each-thing img{
    width: 55%;
}

.each-thing i{
    margin: 0 10px;
}

.edit-rooms{
    margin-top: 1rem;
    background-color: var(--negro);
    color: white;
    padding: 8px 2rem;
    border: none;
    border-radius: 5px;
    font-family: 'Akrobat';
    font-weight: bold;
    font-size: 20px;
    width: 20vw;
}

.out{
    display: flex;
    align-items: center;
}



