:root{
    --verde-botones: #157A8A;
    --negro: #333333;
}

/* :::::::::::::::::::::::::::::::::::::: EDIT ::::::::::::::: */
.modalEdit{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000013;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario{
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-radius: 30px;
    height: 75vh;
    width: 80vw;
    margin: 0 auto;
    padding: 2rem 4rem;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}



@keyframes slide-in-fwd-center {
    0% {
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

.formulario h1{
    font-family: 'Akrobat';
    font-size: 40px;
    margin-top: -60px;
    margin-bottom: 20px;
}
.formulario-modal{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colummns-edit{
    display: flex;
}


.botones-editar-modal{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.botones-editar-modal button{
    width: 20vw;
    border: none;
    padding: 10px 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    font-family: 'Akrobat';
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 8px 10px #beb9b980;
    color: white;
    background-color: #333333;

}

/* .btn-edit-delete{
    background-color: red;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    width: 10vw;
    color: white;
    font-weight: bolder;
    font-family: Montserrat;
    margin-bottom: 1rem;
} */

.cerrar-modal-edit{
    z-index: 100;
    height:60px;
    display: flex;
    justify-content: flex-end;
}

.cerrar-modal-edit button{
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 1rem;
}

/* :::::::::::::::::::::::::::::::::::::: form :::::::::::::::::::::::::::::::::::::: */

label{
    color: var(--negro);
}

.column-1, .column-2{
    margin: 0 15px;
    width: 40vw;
    height: 50vh;
}


.capacidad-personas {
    margin: 0;
    margin-right: 4rem;
}

.capacidad-personas input{
    width: 13vw;
}

.no-hab-edit{
    width: 8vw;
}

.nombre-hab-edit{
    width: 25vw;
}

.no-camas{
    width: 8.5vw;
}

.line1-habitacion-edit, .line2-habitacion-edit, .line3-habitacion-edit, .line4-habitacion-edit, .line5-habitacion-edit{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 1rem 0;
}

.flex-form-edit{
    padding: 0 5px;
    width: 11vw;
    font-family: 'Biko';
    display: flex;
    text-align: left;
    flex-direction: column;
}

.selectors-radio-edit{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectors-radio-edit input{
    margin: 0 10px;
}

.textarea-edit{
    width: 39vw;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
}



/* ::::::::::::::::::::::::::::::::::::::::::::: */

.flex-form-edit label{
    width: max-content;
    font-size: 17px;
    margin-bottom: 5px;
}

.flex-form-edit input{
    padding: 0 1rem;
    font-family: 'Biko';
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
    height: 5vh;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
}

.flex-form-edit h3{
    font-size: 17px;
    text-align: center;
    color: var(--negro);
    font-weight: 100;
}

.observaciones-edit{
    width: 40vw;
}


.flex-si-no-edit{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line1-selector-edit, .line2-selector-edit, .line3-selector-edit{
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-form-edit-selector{
    margin-bottom: 8px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-form-edit-selector p{
    color: var(--negro);
    margin-right: 2px;
    font-size:16px;
}

.flex-form-edit-selector i{
    margin-right: 20px;
}

.nevera-edit{
    width: 20%;
}


.flex-form-edit-selector:nth-child(1){
    margin-right: 5rem;
}


.line3-selector .flex-form-edit-selector:nth-child(1){
    margin-left: 7rem;
}

.precio-edit input{
    padding-left: 2.5rem;
    background-image: url(../img/iconos/price.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5% center;
}

.precio-form-edit{
    
}

/* :::::::::::::::::::::::::INPUT FILE:::::::::::::::::::: */

.file-select-edit label{
    font-size: 25px;
}

.file-select-edit input {
    background-color: #7a7a7a;
    font-style: normal;
    border: none;
    color: white;
    padding: 5px 15px;
    padding-right: 5rem;
    margin: 0 4rem;
    cursor: pointer;
    opacity: 1;
    width: 70vw;
    height:5vh;
    display: inline-block;
}