@font-face {
  font-family: 'Akrobat';
  src: url(assets/fonts/Akrobat-Regular.otf) url(assets/fonts/Biko_Bold.otf);
}

@font-face {
  font-family: 'AkrobatBold';
  src: url(assets/fonts/Biko_Bold.otf);
}

@font-face {
  font-family: 'Biko';
  src: url(assets/fonts/Biko_Regular.otf);
}

:root {
  --dark: #333;
  --blue: #00A0C6;
  --white: #fff;
  --gray: #B2B3B3;
  --black: #000;
  --green: #157A8A;
}

body {
  font-size: 16px;
}

